body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.inicio {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #232323;
    color: #fff;
    text-decoration: none;
    scroll-behavior: smooth;
}

.container {
    width: 200px;
    height: 200px;
    background-color: #007bff;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s ease;
}
  
.container:hover {
    width: 200px;
    height: 100px;
    background-color: #007bff;
    border-radius: 0%;
    position: relative;
}