body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: #232323;
  color: #fff;
  text-decoration: none;
  scroll-behavior: smooth;
}

.container {
  position: relative;
  width: 200px;
  height: 200px;
}

.quadrado {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: girar 3s linear infinite;
}

@keyframes girar {
  0% {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
      transform: translate(-50%, -50%) rotate(45deg);
  }
}
